# ----------------------------------------------------
# Environment variables for pulsecommerce
# ----------------------------------------------------

PORT=4000
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:4000

# Database Connection
DATABASE_URL="postgresql://postgres:password@localhost:5432/pulsecommerce?schema=public"
