# Dependencies
node_modules
.pnpm-store

# Production outputs
dist
build
.next
out
.output
.nuxt
.svelte-kit

# Turbo
.turbo

# Environment variables
.env
.env*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database / SQLite
*.sqlite
*.sqlite3
*.db
